<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="GlyphRay Host" Manufacturer="GlyphRay" Version="0.1.0" UpgradeCode="11111111-2222-3333-4444-555555555555">
    <MajorUpgrade DowngradeErrorMessage="A newer GlyphRay Host is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="MainFeature" Title="GlyphRay Host" Level="1">
      <ComponentGroupRef Id="GlyphRayHostComponents" />
    </Feature>
  </Package>
</Wix>

